<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>

    <!-- Formulario para agregar productos -->
    <form id="addProductForm">
        <input type="text" id="title" placeholder="Título del producto">
        <input type="number" id="price" placeholder="Precio">
        <button type="submit">Agregar Producto</button>
    </form>

    <ul id="productList">
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        const socket = io();
  function editProduct(id) {
        const updatedData = {  };
        socket.emit('editProduct', id, updatedData);
    }

    function deleteProduct(id) {
        socket.emit('deleteProduct', id);
    }

   socket.on('updateProductList', function(products) {
        const productList = document.getElementById('productList');
        productList.innerHTML = '';
        products.forEach(product => {
            productList.innerHTML += `
                <li>
                    ${product.title} - ${product.price}
                    <button onclick="editProduct(${product.id})">Editar</button>
                    <button onclick="deleteProduct(${product.id})">Eliminar</button>
                </li>`;
        });
    });

        document.getElementById('addProductForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const title = document.getElementById('title').value;
            const price = document.getElementById('price').value;
            socket.emit('addProduct', { title, price });
        });
    </script>
</body>
</html>
